<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pizza a la Romana</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/recetas.css') }}">
</head>

<body onload="animacion()">
    <header>
        <!-- Logo -->
        <div class="logo">
            <img src="{{ url_for('static',filename='images/logoSinFondo.png') }}" alt="logo">
            <!-- Boton de registarse e iniciar sesión -->
            <a href="/registrarse">Registrarse</a>  <!-- cambiare referencia -->
            <a href="/iniciarS">Iniciar Sesión</a>  <!-- cambiare referencia -->
        </div>
        
        <!-- Menu desplegable -->
        <nav id="menu">
            <ul>
                <li>
                    <a href="#">Temporadas<span class="arrow">&#x25BC;</span></a>
                    <ul class="submenu">
                        <li>
                            <a href="#">Navidad<span class="arrow">&#x25B6;</span></a>
                            <ul class="submenu2">
                                <li>
                                    <a href="/piernaA">Pierna ahumada de cerdo</a>  <!-- Cambiar el enlace-->
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Fiestas Patrias<span class="arrow">&#x25B6;</span></a>
                            <ul class="submenu2">
                                <li>
                                    <a href="/tacosC">Tacos de carnitas estilo Michoacán</a>  <!-- Cambiar el enlace-->
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Año Nuevo<span class="arrow">&#x25B6;</span></a>
                            <ul class="submenu2">
                                <li>
                                    <a href="/pechugaP">Pechuga de pavo en salsa ligera de naranja y arándanos</a>   <!-- Cambiar el enlace-->
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#">Postres<span class="arrow">&#x25BC;</span></a>
                    <ul class="submenu">
                        <li>
                            <a href="#">Sencillos<span class="arrow">&#x25B6;</span></a>
                            <ul class="submenu2">
                                <li>
                                    <a href="/smoothieF">Smoothie de fresas y cerezas</a>   <!-- Cambiar el enlace-->
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Pasteles<span class="arrow">&#x25B6;</span></a>
                            <ul class="submenu2">
                                <li>
                                    <a href="/tartaH">Tarta helada de fresas</a>   <!-- Cambiar el enlace-->
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Bajo en Azúcar<span class="arrow">&#x25B6;</span></a>
                            <ul class="submenu2">
                                <li>
                                    <a href="/galletasA">Galletas de almendras</a>   <!-- Cambiar el enlace y revisar el nombre-->
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#">Sencillas<span class="arrow">&#x25BC;</span></a>
                    <ul class="submenu">
                        <li>
                            <a href="#">Media hora<span class="arrow">&#x25B6;</span></a>
                            <ul class="submenu2">
                                <li>
                                    <a href="/tostadaA">Tostada de bonito en aceite con mermelada de tomate y piñones</a>   <!-- Cambiar el enlace-->
                                </li>

                                <li>
                                    <a href="/jacobosJ">San Jacobos de jamón y queso</a>   <!-- Cambiar el enlace-->
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Sin horno<span class="arrow">&#x25B6;</span></a>
                            <ul class="submenu2">
                                <li>
                                    <a href="/arrozL">Arroz con leche</a>   <!-- Cambiar el enlace-->
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#">Niños<span class="arrow">&#x25BC;</span></a>
                    <ul class="submenu">
                        <li>
                            <a href="#">Lunch<span class="arrow">&#x25B6;</span></a>
                            <ul class="submenu2">
                                <li>
                                    <a href="/burritosP">Burritos de pechuga de pollo</a>   <!-- Cambiar el enlace-->
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Divertidos<span class="arrow">&#x25B6;</span></a>
                            <ul class="submenu2">
                                <li>
                                    <a href="/pizzaR">Pizza a la romana</a>   <!-- Cambiar el enlace-->
                                </li>

                                <li>
                                    <a href="/berenjenasR">Berenjenas rellenas de carne</a>   <!-- Cambiar el enlace-->
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#">Carnes<span class="arrow">&#x25BC;</span></a>
                    <ul class="submenu">
                        <li>
                            <a href="#">Pollo<span class="arrow">&#x25B6;</span></a>
                            <ul class="submenu2">
                                <li>
                                    <a href="/polloR">Pollo de leche rostizado</a>   <!-- Cambiar el enlace-->
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Puerco y res<span class="arrow">&#x25B6;</span></a>
                            <ul class="submenu2">
                                <li>
                                    <a href="/tostadaM">Tostada mallorquina</a>   <!-- Cambiar el enlace-->
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Pescados y mariscos<span class="arrow">&#x25B6;</span></a>
                            <ul class="submenu2">
                                <li>
                                    <a href="/galloE">Gallo empanado con salsa de limón</a>   <!-- Cambiar el enlace-->
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    
    <div class="principal">
        <!-- Contenido Principal -->
        <main>	
	        <h1>Pizza a la Romana</h1>
	        <section class = "top">
		        <section class = "infoReceta">
			        <a>Categorías: Niños, Divertidos </a>
			        <a>Dificultad: Alta</a>
			        <a>Tiempo: 150 min</a>
			        <a>Porciones: 6</a>
			        <a>Calificación: 4 estrellas</a>
		        </section>
		        <section class = "imagenReceta">	
			        <img src="{{ url_for('static',filename='images/pizzaALaRomana.jpg') }}" alt="Pizza a la Romana" width = "400" height = "280">
		        </section>
    	    </section>

	        <section class = "middle">
		        <section class ="uno">
			        <a class = "autor">Receta de Lilian López</a>
		        </section>
		    
                	<section class = "dos">
			        <canvas id = "canvas1" width = "100" height = "50"></canvas>
			        <button id = "botonFav" onclick = "cambiarBoton()">Agregar a favoritos</button>
    			</section>
	        </section>

	       <script src = "/js/codigo.js"></script>

	        <section class = "ingredientes">
		        <h3>Ingredientes</h3>
		        <p>250 gr de harina de fuerza</p>
		        <p>125 gr de agua</p>
		        <p>2 gr de levadura prensada</p>
		        <p>7 gr de sal</p>
		        <p>10 gr de aceite de oliva</p>
		        <p>Salsa de tomate</p>
		        <p>150 gr de jamón cocido en tacos</p>
		        <p>100 gr de champiñones</p>
		        <p>80 gr de aceitunas negras en rodajas</p>
		        <p>100 gr de queso, rallado, mozarella, fresco, ...</p>
	        </section>
	        <section class = "preparacion">
	        	<h3>Preparación</h3>
		        <p>Lo primero que tenemos que hacer es la masa para la pizza; calentamos el agua hasta que esté tibia nunca caliente, a unos 37ºC y disolvemos en ella la levadura, mezclamos bien.</p>
		        <p>Hacemos un volcán con la harina y le añadimos en el centro la levadura disuelta en el agua y mezclamos cuando esté casi mezclada le añadimos el resto de los ingredientes, el aceite y la sal y terminamos de mezclar bien, en una mesa de trabajo amasamos la base de la pizza hasta que esta lisa.</p>
		        <p>Ponemos la masa en un bol limpio y la tapamos y dejamos fermentar a temperatura ambiente durante 2 horas hasta que doble su volumen.</p>
		        <p>Cuando la masa ya haya fermentado la estiramos en una mesa limpia con un poco de harina, dando la forma que queramos. Además, ponemos el horno a calentar a máxima potencia a unos 240ºC.</p>
		        <p>Le damos el grosor que nos guste y la colocamos en una bandeja con papel de horno.</p>
		        <p>En la base le añadimos una capa generosa de tomate frito, después el resto de los ingredientes, el jamón cortado en tacos, los champiñones en láminas, las aceitunas, el queso y una cucharadita de orégano.</p>
		        <p>Metemos al horno en la parte más baja a 200ºC durante unos 10 o 15 minutos justo hasta que la masa esté hecha.</p>
	        </section>

        </main>
        
        <!-- Aside -->
        <aside class="videos">
            <div id="video_1"></div>
            <div id="video_2"></div>
            <div id="video_3"></div>
        </aside>
    </div>
    

    <!-- Barra Lateral -->
    <div class="barra-lateral">
        <ul>
            <li>
                <a href="/">Inicio</a>  <!-- cambiar la referencia a donde va a ser dirijido-->
            </li>

            <li>
                <a href="/">Mis Favoritas/Mis Datos</a>  <!-- cambiar la referencia a donde va a ser dirijido-->
            </li>
        </ul>
    </div>
    
    

    <!-- Footer -->
    <footer>
        <div class="contenedor">
            <h2 class="titulo">Contáctanos</h2>
        </div>

        <div class="redes-sociales">
            <a href="https://www.facebook.com/F%C3%A1cil-Es-103641258642178"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/_faciles/"><i class="fab fa-instagram"></i></a>
        </div>

        <div class="datos-personales">
            <h2 class="titulo">Equipo 1</h2>
            <li>Espinosa Ponce Beatriz Deite</li>
            <li>Martínez Barrón Rebeca Paulina</li>
            <li>Ruíz Zamora Edgar Sebastián</li>
            <li>Vargas Flores Eduardo</li>
            <li>Vargas Palacios Oscar Jair</li>
        </div>
    </footer>

    


    <script src="https://kit.fontawesome.com/bdbed0aafa.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/codigo_aside_videos.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/codigo.js') }}"></script>
</body>
</html>